{% extends 'layout.html' %}

{% block title %}<title>Home</title>{% endblock %}

{% block head %}{% endblock %}

{% block content %}
<div class="container-fluid top cmslanguage" ng-controller="CmslanguageCtrl">
    <div class="row">
        <div class="container">

            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                <form class="form-inline" ng-model="langkeys">
                    <div ng-repeat="key in keys track by $index">
                        <div class="form-group">
                            <input type="text" class="form-control" name="langkeys" ng-model="langkeys[]" placeholder="Clave">
                        </div>

                        <div class="form-group" ng-repeat="lang in langs">
                            <input type="text" class="form-control" name="langkeys[<<* $index *>>][<<* lang *>>]" ng-model="langkeys[$index][lang]"
                                   placeholder="<<* lang | uppercase *>>">
                        </div>

                        <button type="submit" class="btn btn-danger">Delete</button>
                    </div>

                    </br>

                    <fieldset class="topbuttons">
                        <button type="submit" class="btn btn-primary btn-info">Send</button>
                        <button type="submit" class="btn btn-warning" ng-click="addkey()">Add</button>
                    </fieldset>

                    <<* langkeys | json *>>
                </form>
                <h2>
                    <small class="succes">Successful!</small>
                </h2>
                <h2>
                    <small class="wrong">Failed! try again</small>
                </h2>
            </div>

        </div>
    </div>
</div>
{% endblock %}

{% block pagejs %}
<script src="/statics/js/cmslanguage.js"></script>
{% endblock %}