{% extends 'layout.html' %}

{% block title %}CMS Language{% endblock %}

{% block head %}{% endblock %}

{% block content %}
<div class="container-fluid top cmslanguage" ng-controller="CmslanguageCtrl">
    <div class="row">
        <div class="container">

            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                <form class="form-inline" ng-model="langkeys">
                    <div class="entry-keys" ng-repeat="(k, v) in keys track by $index">
                        <div class="form-group">
                            <input type="text" class="form-control" name="langkeys[<<* k *>>].key" ng-model="langkeys[k].key" placeholder="Clave">
                        </div>

                        <div class="form-group" ng-repeat="lang in langs">
                            <textarea row="8" cols="100" class="form-control" name="langkeys[<<* k *>>][<<* lang *>>]" ng-model="langkeys[k][lang]"
                                   placeholder="<<* lang | uppercase *>>"></textarea>
                        </div>

                        <button type="submit" class="btn btn-danger" ng-click="delkey(k)">Delete</button>
                    </div>

                    </br>

                    <fieldset class="topbuttons">
                        <button type="submit" class="btn btn-primary btn-info" ng-click="savekeys()">Send</button>
                        <button type="submit" class="btn btn-warning" ng-click="addkey()">Add</button>
                    </fieldset>
                </form>
                <h2>
                    <small class="succes">Successful!</small>
                </h2>
                <h2>
                    <small class="wrong">Failed! try again</small>
                </h2>
            </div>

        </div>
    </div>
</div>
{% endblock %}

{% block pagejs %}
<script src="/statics/js/cmslanguage.js"></script>
{% endblock %}