{% extends 'layout.html' %}

{% block title %}<title>Home</title>{% endblock %}

{% block head %}{% endblock %}

{% block content %}
<div class="container-fluid top cmslanguage">
    <div class="row">
        <div class="container">

            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                <form class="form-inline">
                    <div class="form-group">
                        <input type="text" class="form-control" id="clave" placeholder="Clave">
                    </div>
                    <div class="form-group">
                        <input type="text" class="form-control" id="english" placeholder="English">
                    </div>
                    <div class="form-group">
                        <input type="text" class="form-control" id="spanish" placeholder="Español">
                    </div>
                    <div class="form-group">
                        <input type="text" class="form-control" id="german" placeholder="Deutsch">
                    </div>
                    <button type="submit" class="btn btn-danger">Delete</button>
                    </br>
                    <fieldset class="topbuttons">
                        <button type="submit" class="btn btn-primary btn-info">Send</button>
                        <button type="submit" class="btn btn-warning">Add</button>
                    </fieldset>
                </form>

                <h2>
                    <small class="succes">Successful!</small>
                </h2>
                <h2>
                    <small class="wrong">Failed! try again</small>
                </h2>
            </div>

        </div>
    </div>
</div>


{% endblock %}
