<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <title>Welkomi verify account </title>
</head>
<body>
<table width="600" cellpadding="0" cellspacing="0" border="0" align="center">
    <tbody>
    <tr>
        <td style="color:#9ab;font:normal 11px helvetica,sans-serif;text-align:center;padding:10px 0 20px 0">To ensure
            delivery, add <strong><a href="mailto:no-reply@welkomi.com"
                                     target="_blank">no-reply@welkomi.com</a></strong> to your address book.
        </td>
    </tr>
    <td style="border:1px dotted #d6d7d8;border-top:none;border-bottom:3px solid #d6d7d8">

        <table width="100%" cellpadding="30" cellspacing="0" border="0" align="center">
            <tbody>
            <tr>
                <td style="background-color:#ffffff">

                    <p style="text-align:center;margin:5px 0 25px 0;padding:0"><a href="https://welkomi.com"
                                                                                  style="color:#28c;text-decoration:none"
                                                                                  target="_blank">
                        <img src="cid:welkomi@imagemail.com" border="0"
                             alt="Welkomi" width="220" class="CToWUd"/>
                    </a></p>


                    <p style="color:#607684;font-family:helvetica,arial,sans-serif;font-size:24px;line-height:1.2;margin:15px 0;padding:0">
                        <strong>Hello {{ name }}</strong></p>

                    <p style="color:#456;font-family:helvetica,arial,sans-serif;font-size:18px;line-height:1.4;margin:15px 0;padding:0">
                        Help us secure your Welkomi account by verifying your email address (<strong
                            style="color:#607684">{{ email }}</strong>). This will let you receive notifications
                        and password resets from Welkomi.</p>

                    <table align="center" width="100%" cellpadding="0" cellspacing="0" border="0">
                        <tbody>
                        <tr>
                            <td>
                                <p style="background:#ed6060;font-family:helvetica,arial,sans-serif;font-size:18px;line-height:18px;text-align:center;margin:10px auto 20px auto;padding:14px 10px;border-radius:6px">
                                    <a href="{{ urlVerification }}" style="color:#fff;text-decoration:none" target="_blank"><strong><span
                                            class="il">Verify</span></strong></a></p>
                            </td>
                        </tr>
                        </tbody>
                    </table>

                    <p style="color:#456;font-family:helvetica,arial,sans-serif;font-size:14px;line-height:1.5;margin:15px 0;padding:0">
                        Button not working? Paste the following link into your browser: <a href="{{ urlVerification }}">{{ urlVerification }}</a>
                    </p>

                    <p style="color:#456;font-family:helvetica,arial,sans-serif;font-size:14px;line-height:1.5;margin:15px 0;padding:0">
                        You’re receiving this email because you recently created a new Welkomi account or added a new
                        email address. If this wasn’t you, please ignore this email.</a></p>


                </td>
            </tr>
            </tbody>
        </table>

    </td>
    </tr>
    </tbody>
</table>
</body>
</html>
