{% extends 'layout.html' %}

{% block title %}Home{% endblock %}

{% block head %}{% endblock %}

{% block pageController %}ng-controller="HomeCtrl"{% endblock %}

{% block etiquetaBody %}
specialheader
{% endblock%}

{% block etiquetaSearch %}
specialSearch
{% endblock%}

{% block wover %}
wover
{% endblock %}

{% block content %}
<div class="container-fluid hero">
    <div class="row nomargin">
        <div class="homeheroimg topheader" scrollernav id="nav" class="headerpro" ng-show="scrollerNavVisible">
          <!-- <img src="<<* pictureProfile *>>"/> -->

            <div class="clearfix"></div>
        </div>
        <div class="container">
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                <div class="herofind">
                    <h2>{{ __('showyourcity') }}</h2>

                    <h3>{{ __('guidethepeople') }}</h3>
                    <div class="row">
<div class="w_search_hero">

<div class="velo">




    <div class="input-group searchuser">
      
      <input id="primary_search" type="text" class="form-control" placeholder="Search for a Guide in...">
      <div class="input-group-btn">
             <div class="select_wk btn nopadding">
                               <select> 
                                <option value="">All</option> 
                                <option value="">Culture</option> 
                                <option value="">City</option> 
                                <option value="">Night</option> 
                                <option value="">Free</option>
                            </select>
                            <i class="fa fa-angle-down"></i>
                        </div>
        <button class="btn btn-search_hero" type="button"><i class="fa fa-search fa-lg"></i></button>
      </div>
    </div>
        </div>
      <ul class="results_home">
                        <li><a href="#"><i class="fa fa-map-marker"></i> Madrid</span></a></li>
                        <li><a href="#"><i class="fa fa-map-marker"></i>Amsterdam</span></a></li>
                        <li><a href="#"><i class="fa fa-map-marker"></i>Paris</span></a></li>
                        <li><a href="#"><i class="fa fa-map-marker"></i>Berlin</span></a></li>
                    </ul>

                </div>
            </div>
                    <div class="clearfix"></div>

                    <div class="joinus">
                        <a class="btn btn-fb" ng-click="fbLogin()"><i class="fa fa-facebook fa-lg"></i>Join us with
                            Facebook</a>
                        <a class="btn btn-loginhero">Join us with email</a>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>

<div class="container-fluid randomUsers topmodule">
    <div class="row">
        <div class="container">
      <h2 class="titlemodule">Our last guides</h2>
            <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
                <div class="usersearchperfil">
                    <div class="full_media">
                        <img class="img-responsive" src="/statics/images/citys/madrid.png">
                    </div>
                    <img class="panel-profile-img" src="{{ renderGdriveUrl('0B9gI2Lt4M_dxc1VNakJnc29kdkE', 'jamie.png') }}">
                    <h2 class="username"><a href="#">free |<span class="bolded"> Madrid</span></a></h2>

                    <p>CITY TOUR</p>
                    <a class="tourme" href="/users">{{ __('guideme') }}</a>

                </div>
            </div>

            <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4">
                <div class="usersearchperfil">
                    <div class="full_media">
                        <img class="img-responsive" src="/statics/images/citys/newyork.png">
                    </div>
                     <img class="panel-profile-img" src="{{ renderGdriveUrl('0B9gI2Lt4M_dxc1VNakJnc29kdkE', 'targarian.png') }}">
                    <h2 class="username"><a href="#">free |<span class="bolded"> New York</span></a></h2>

                    <p>NIGHTTOUR </p>
                    <a class="tourme" href="/users">{{ __('guideme') }}</a>
                </div>
            </div>

            <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4">
                <div class="usersearchperfil">
                    <div class="full_media">
                        <img class="img-responsive" src="/statics/images/citys/tokio.png">
                    </div>
                    <img class="panel-profile-img" src="{{ renderGdriveUrl('0B9gI2Lt4M_dxc1VNakJnc29kdkE', 'nieve.png') }}">
                    <h2 class="username"><a href="#">20€ |<span class="bolded"> Tokio</span></a></h2>

                    <p>MUSEUM TOUR</p>
                    <a class="tourme" href="/users">{{ __('guideme') }}</a>
                </div>
            </div>
            

        </div>
    </div>
</div>

<div class="container-fluid modulohowworks">
        <div class="container">
    <div class="row">
            <div class="tours clearfix">
                <div class="col-xs-12 col-sm-8 col-md-8 col-lg-8 p_tours">
                    <div class="conthotworks">
                        <h3>Reference site about Lorem Ipsum, giving information on its origins</h3>

                    </div>
                    <button type="button" class="btn btn-works">How it works</button>
                </div>
                <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4 perfilhow">
                    <img src="{{ renderGdriveUrl('0B9gI2Lt4M_dxZFRPLVdhbUxRREE', 'guide.png') }}">
                </div>
            </div>
        </div>
    </div>
</div>


{% endblock %}

{% block pagejs %}
<script src="/statics/js/home.js"></script>
<script>
$('.results_home').hide();
    $("#primary_search").focus(function() {
    $('.results_home').show();
});
</script>
{% endblock %}
