<!DOCTYPE html>
<html lang="es" ng-app="welkomiApp">

<head>
    <meta charset="UTF-8">

    <title>Welkomi - {% block title %}{% endblock %}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="/statics/css/bootstrap.css">
    <link rel="stylesheet" type="text/css" href="/statics/css/style.css">
    <link rel="stylesheet" type="text/css" href="/statics/css/font-awesome.min.css">
    <link href='http://fonts.googleapis.com/css?family=PT+Sans+Narrow:400,700' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Lobster' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Passion+One:400,700,900' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Righteous' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Mrs+Sheppards' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Lato:400,900,100,300' rel='stylesheet' type='text/css'>
    {% block head %}{% endblock %}
</head>

<body ng-controller="CommonCtrl">
<div id="fb-root"></div>
{{ idioms|json }}
<div {% block pageController %}{% endblock %}>
{% block content %}{% endblock %}
</div>
<div class="container-fluid footer">
    <div class="row">
        <div class="container">
            <footer>
                <ul class="followus">
                    <li class="followme">follow us:</li>
                    <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                    <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                    <li><a href="#"><i class="fa fa-instagram"></i></a></li>
                    <li><a href="#"><i class="fa fa-flickr"></i></a></li>

                </ul>

                <ul class="navfooter">
                    <li><a href="#">ABOUT US</a></li>
                    <li><a href="#">COPYRIGHT</a></li>
                    <li><a href="#">CONTACT</a></li>
                    <li><a href="#">COMMUNITY</a></li>
                    <li><a href="#">PRIVACY</a></li>
                    <li><a href="#">HOW IT WORKS</a></li>
                </ul>
                <p class="footer-copyright mod-text-center"><small> © 2015 Welkomi International, Inc. A socially responsible. </small></p>
            </footer>
        </div>
    </div>

</div>
<script src="/statics/js/jquery-1.11.1.min.js"></script>
<script src="/statics/js/bootstrap.js"></script>
<script src="/statics/js/liveicons.js"></script>
<script src="/statics/js/icons.js"></script>
<script src="/statics/js/angular.min.js"></script>
<script src="/statics/js/app.js"></script>

{% block pagejs %}{% endblock %}
</body>
</html>
