{% extends 'layout.html' %}

{% block title %}User{% endblock %}

{% block head %}
<link rel="stylesheet" href="/statics/malihu-custom-scrollbar-plugin/jquery.mCustomScrollbar.min.css"
      type="text/css"/>
{% endblock %}

{% block pageController %}ng-controller="UsersCtrl"{% endblock %}


{% block content %}
<div class="container-fluid randomUsers users top">
    <div class="row">
        <ol class="col-sm-6 col-lg-6 breadcrumb">
            <li><a href="#">Madrid</a></li>
            <li class="active">1092 Guias</li>
        </ol>
        <div class="colspecial col-xs-12 col-sm-7 col-md-9 col-lg-10">
            <div class="guidedisplay">
                <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3 p_right">
                    <div class="usersearchperfil">
                        <div class="full_media">
                            <img class="img-responsive" src="/statics/images/citys/newyork.png">
                        </div>
                        <img class="panel-profile-img" src="{{ renderGdriveUrl('0B9gI2Lt4M_dxc1VNakJnc29kdkE', 'tylonn.png') }}">
                        <h2 class="username"><a href="#">40€ /<span class="bolded"> Madrid</span></a></h2>

                        <p>CITY TOUR</p>
                        <a class="tourme" href="#">More</a>

                    </div>
                </div>

                <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3 p_right">
                    <div class="usersearchperfil">
                        <div class="full_media">
                            <img class="img-responsive" src="/statics/images/citys/tokio.png">
                        </div>
                        <img class="panel-profile-img" src="{{ renderGdriveUrl('0B9gI2Lt4M_dxc1VNakJnc29kdkE', 'cersei.png') }}">
                        <h2 class="username"><a href="#">free /<span class="bolded"> New York</span></a></h2>

                        <p>NIGHTTOUR</p>
                        <a class="tourme" href="#">More</a>
                    </div>
                </div>

                <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3 p_right">
                    <div class="usersearchperfil">
                        <div class="full_media">
                            <img class="img-responsive" src="/statics/images/citys/madrid.png">
                        </div>
                        <img class="panel-profile-img" src="{{ renderGdriveUrl('0B9gI2Lt4M_dxc1VNakJnc29kdkE', 'arya.png') }}">
                        <h2 class="username"><a href="#">10€ /<span class="bolded"> Tokio</span></a></h2>

                        <p>MUSEUM TOUR</p>
                        <a class="tourme" href="#">More</a>
                    </div>
                </div>

                <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3 p_right">
                    <div class="usersearchperfil">
                        <div class="full_media">
                            <img class="img-responsive" src="/statics/images/citys/tokio.png">
                        </div>
                        <img class="panel-profile-img" src="{{ renderGdriveUrl('0B9gI2Lt4M_dxc1VNakJnc29kdkE', 'ned.png') }}">
                        <h2 class="username"><a href="#">2€ /<span class="bolded"> Tokio</span></a></h2>

                        <p>MUSEUM TOUR</p>
                        <a class="tourme" href="#">More</a>
                    </div>
                </div>

                <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3 p_right">
                    <div class="usersearchperfil">
                        <div class="full_media">
                            <img class="img-responsive" src="/statics/images/citys/madrid.png">
                        </div>
                        <img class="panel-profile-img" src="{{ renderGdriveUrl('0B9gI2Lt4M_dxc1VNakJnc29kdkE', 'censa.png') }}">
                        <h2 class="username"><a href="#">free /<span class="bolded"> Tokio</span></a></h2>

                        <p>MUSEUM TOUR</p>
                        <a class="tourme" href="#">More</a>
                    </div>
                </div>

                <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3 p_right">
                    <div class="usersearchperfil">
                        <div class="full_media">
                            <img class="img-responsive" src="/statics/images/citys/madrid.png">
                        </div>
                        <img class="panel-profile-img" src="{{ renderGdriveUrl('0B9gI2Lt4M_dxc1VNakJnc29kdkE', 'jamie.png') }}">
                        <h2 class="username"><a href="#">free /<span class="bolded"> Tokio</span></a></h2>

                        <p>MUSEUM TOUR</p>
                        <a class="tourme" href="#">More</a>
                    </div>              </div>

                <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3 p_right">
                    <div class="usersearchperfil">
                        <div class="full_media">
                            <img class="img-responsive" src="/statics/images/citys/madrid.png">
                        </div>
                        <img class="panel-profile-img" src="{{ renderGdriveUrl('0B9gI2Lt4M_dxc1VNakJnc29kdkE', 'targarian.png') }}">
                        <h2 class="username"><a href="#">10€ /<span class="bolded"> Tokio</span></a></h2>

                        <p>MUSEUM TOUR</p>
                        <a class="tourme" href="#">More</a>
                    </div>
                </div>

                <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3 p_right">
                    <div class="usersearchperfil">
                        <div class="full_media">
                            <img class="img-responsive" src="/statics/images/citys/madrid.png">
                        </div>
                        <img class="panel-profile-img" src="{{ renderGdriveUrl('0B9gI2Lt4M_dxc1VNakJnc29kdkE', 'nieve.png') }}">
                        <h2 class="username"><a href="#">10€ /<span class="bolded"> Tokio</span></a></h2>

                        <p>MUSEUM TOUR</p>
                        <a class="tourme" href="#">More</a>
                    </div>
                </div>

                <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3 p_right">
                    <div class="usersearchperfil">
                        <div class="full_media">
                            <img class="img-responsive" src="/statics/images/citys/madrid.png">
                        </div>
                        <img class="panel-profile-img" src="{{ renderGdriveUrl('0B9gI2Lt4M_dxc1VNakJnc29kdkE', 'arya.png') }}">
                        <h2 class="username"><a href="#">10€ /<span class="bolded"> Tokio</span></a></h2>

                        <p>MUSEUM TOUR</p>
                        <a class="tourme" href="#">More</a>
                    </div>
                </div>
                <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3 p_right">
                    <div class="usersearchperfil">
                        <div class="full_media">
                            <img class="img-responsive" src="/statics/images/citys/madrid.png">
                        </div>
                        <img class="panel-profile-img" src="{{ renderGdriveUrl('0B9gI2Lt4M_dxc1VNakJnc29kdkE', 'tylonn.png') }}">
                        <h2 class="username"><a href="#">10€ /<span class="bolded"> Tokio</span></a></h2>

                        <p>MUSEUM TOUR</p>
                        <a class="tourme" href="#">More</a>
                    </div>
                </div>

                <div class="clearfix"></div>
                <div class="col-lg-12 nopadding">
                    <nav>
                        <ul class="pagination">
                            <li><a href="#" aria-label="Previous"><span aria-hidden="true">«</span></a></li>
                            <li class="active"><a href="#">1 <span class="sr-only">(current)</span></a></li>
                            <li><a href="#">2</a></li>
                            <li><a href="#">3</a></li>
                            <li><a href="#">4</a></li>
                            <li><a href="#" aria-label="Next"><span aria-hidden="true">»</span></a></li>
                        </ul>
                    </nav>
                </div>

            </div>

        </div>
        <div class="colspecialfil col-xs-12 col-sm-5 col-md-3 col-lg-2">
        <!--<div class="wkfilter">
          <h2>Launch your own proposal!</h2>

          <form class="launch_p clearfix">
    <input type="text" class="form-control"  placeholder="What to you want to see in Madrid?">
                   
                    <div class="priceit">
                               <select> 
                                <option value="">I will invit you on a beer!</option> 
                                <option value="">5€ to 10€/person</option> 
                                <option value="">10€ to 30€/person</option> 
                                <option value="">30€ to 60€/person</option> 
                                <option value="">Make me an offer...</option>
                            </select>
                            <i class="fa fa-angle-down"></i>
                   </div>
                   
                    <div class="personmuch">
                               <select> 
                               <option value="">1-4 persons</option>
                                <option value="">5-10</option> 
                                <option value="">10-20</option> 
                                <option value="">20-50</option> 
                            </select>
                            <i class="fa fa-angle-down"></i>
                   </div>
                   
                   <div class="pickdate clearfix">
                            <div class="form-group">
                                <p class="input-group">
                                    <input type="text" class="form-control" show-button-bar="false"
                                           uib-datepicker-popup="{{format}}" ng-model="dt"
                                           is-open="popup.opened" min-date="minDate"
                                           max-date="maxDate" datepicker-options="dateOptions"
                                           date-disabled="disabled(date, mode)" ng-required="true"
                                           close-text="Close" alt-input-formats="altInputFormats"/>
                                                              <span class="input-group-btn">
                                                                <button type="button" class="btn btn-pick"
                                                                        ng-click="open()"><i
                                                                        class="glyphicon glyphicon-calendar"></i>
                                                                </button>
                                                              </span>
                                </p>
                            </div>
                        </div>
                        <a class="btn btn-launch" href="#">
                          <span class="navtext">Launch</span>
                          </a>
</form>
        </div>-->

            <div class="search-panel-content">
                <h3>Filters</h3>
                <div class="wk--chekbox">
                <md-checkbox class="green md-checked">
                    <span class="size--wk">Night tour</span>
                </md-checkbox>
                </div>
                <div class="wk--chekbox">
                    <md-checkbox class="green md-checked">
                        <span class="size--wk">City tour</span>
                    </md-checkbox>
                </div>
                <div class="wk--chekbox">
                    <md-checkbox class="green md-checked">
                        <span class="size--wk">Culture tour</span>
                    </md-checkbox>
                </div>
                <div class="wk--chekbox">
                    <md-checkbox class="green md-checked">
                        <span class="size--wk">Museom tour</span>
                    </md-checkbox>
                </div>
            </div>

            <div class="search-panel-content">
                <h3>Language</h3>
                <md-input-container>
                    <md-select aria-label="ALL">
                        <md-select-value>
                            <span><div class="md-text ng-binding">AZ</div></span>
                        </md-select-value>


                    </md-select>

                </md-input-container>

            </div>

        </div>
    </div>
</div>
{% endblock %}

{% block pagejs %}
<script src="/statics/js/users.js"></script>
{% endblock %}
