{% extends 'layout.html' %}

{% block title %}Home{% endblock %}

{% block head %}

{% endblock %}

{% block pageController %}ng-controller="ProfileCtrl"{% endblock %}

{% block content %}
<div class="container-fluid profile top">
    <div class="container">
        <div class="row">
            <ol class="breadcrumb">
                <li><a href="#">{{ visitedUser.location }}</a></li>
                <li class="active">
                    {{ visitedUser.firstname }} {{ visitedUser.lastname }}
                </li>
            </ol>
        </div>

        <div class="row">
            <div class="col-xs-12 col-sm-8 col-md-8 col-lg-8">
                <div class="row">
                    <div class="userperfil">
                        <div class="myperfil">
                            <section class="margindefault clearfix">
                                <div class="col-md-11 col-lg-11 userbox clearfix">
                                    <div class="centred col-xs-12 col-sm-12 col-md-4 col-lg-4 pull-left">
                                         <img class="panel-profile-img" ng-src="<<* User.pictureProfile *>>">
                                    </div>
                                    <div class="main-info col-xs-12 col-sm-12 col-md-7">
                                        <hgroup>
                                            <h2 class="username">Julia Anderson</h2>

                                            <h3 class="localization"><i class="fa fa-map-marker"></i><a href="javascript:void(0)">Vancouver </a><span></span>
                                            </h3>

                                        </hgroup>
                                        <blockquote class="clearfix col-lg-12">
                                            "I like to learn other languages even if it is a little bit so please bring
                                            yours my way"
                                        </blockquote>
                                    </div>

                                </div>
                               <div class="edit col-md-1 col-lg-1 col-sm-12 clearfix text-right nopadding">
                                   <a class="btn-edit" href="#">{{ __('Edit') }}</a>
                                </div>
                            </section>

                            <div class="panel panel-default">
                                <div class="panel-heading clearfix">
                                <h2 class="pull-left">About me</h2>
                                <div class="edit nopadding pull-right">
                                   <a class="btn-edit" href="#">{{ __('Edit') }}</a>
                                </div>
                                </div>
                                <div class="panel-body">
                                    <p>Hi I'm Jean from France, I'm a nice and open minded man, I love travelling and meeting new people. I dream to do a world tour for a year soon.</p>
                                    <h3>Why my city</h3>
                                    
                                    <p>I like cs because i would like to try all different bottle during shower until i find sampoo!XD 
Shit that there are no english on the BOTTLE n my host didn't tell me which one is sampoo!Lol 
Would like to make friendships ,not only for stay</p>
                               
                               <h3>Languages I speak</h3>
                               <ul class="list-inline">
                                   <li>Deutsch</li>
                                   <li>Español</li>
                                   <li>English</li>
                                   <li> Georgian </li>
                               </ul>
                                </div>
                            </div>

                    


                        </div>

                    </div>

                </div>
            </div>


            <aside class="col-xs-12 col-sm-4 col-md-4 col-lg-4 asideplans">
             <div class="allmyplans">
              <h2>My Plans</h2>
             
               <div class="plans border">
                   <a href="#"> <div class="myplans ">
                       <hgroup>
                        <h4>Madrid</h4>
                        <h5>Barrio de las letras</h5>
                        </hgroup>
                    </div></a>
                    
                </div>
                
                  <div class="plans border">
                   <a href="#"> <div class="myplans ">
                       <hgroup>
                        <h4>Madrid</h4>
                        <h5>Barrio de las letras</h5>
                        </hgroup>
                    </div></a>
                    
                </div>
                
                <div class="plans border">
                   <a href="#"> <div class="myplans">
                       <hgroup>
                        <h4>Madrid</h4>
                        <h5>Join to me and my fiends.</h5>
                        </hgroup>
                    </div></a>
                </div>
                
              <div class="plans border">
                   <a href="#"> <div class="myplans">
                       <hgroup>
                        <h4>Madrid</h4>
                        <h5>Join to me and my fiends.</h5>
                        </hgroup>
                    </div></a>
                </div>
                
                 <div class="plans border">
                   <a href="#"> <div class="myplans">
                       <hgroup>
                        <h4>Madrid</h4>
                        <h5>Join to me and my fiends Join to me and my fiends.</h5>
                        </hgroup>
                    </div></a>
                </div>
                 <div class="plans border">
                   <a href="#"> <div class="myplans">
                       <hgroup>
                        <h4>Madrid</h4>
                        <h5>Join to me and my fiends Join to me and my fiends.</h5>
                        </hgroup>
                    </div></a>
                </div>
                
                 <div class="plans border">
                   <a href="#"> <div class="myplans">
                       <hgroup>
                        <h4>Madrid</h4>
                        <h5>Join to me and my fiends Join to me and my fiends.</h5>
                        </hgroup>
                    </div></a>
                </div>
            </div>
            </aside>

        </div>
    </div>
</div>


{% endblock %}

{% block pagejs %}
<script src="/statics/js/profile.js"></script>
{% endblock %}
