{% extends 'layout.html' %}

{% block title %}Register user{% endblock %}

{% block head %}{% endblock %}
{% block pageController %}ng-controller="PublishCtrl"{% endblock %}
{% block content %}
<div class="container">
    <div class="row top">
        <ol class="col-sm-6 col-lg-6 breadcrumb">
            <li><a href="#">Register</a></li>
            <li class="active">New Guider</li>
        </ol>
    </div>
    <div class="container-fluid publishtour">
        <div class="container">

            <div class="row">
                <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 text-center">
                       <div class="publish-guide">

  <!-- Nav tabs -->
  <ul class="nav nav-tabs" role="tablist">
    <li role="presentation" class="active"><a href="#Descripcion" aria-controls="Descripcion" role="tab" data-toggle="tab">Descripcion</a></li>
    <li role="presentation"><a href="#Photos" aria-controls="Photos" role="tab" data-toggle="tab">Photos</a></li>
    <li role="presentation"><a href="#Location" aria-controls="Location" role="tab" data-toggle="tab">Location</a></li>
    <li role="presentation"><a href="#Price" aria-controls="Price" role="tab" data-toggle="tab">Price</a></li>
  </ul>

  <!-- Tab panes -->
  <div class="tab-content">
    <div role="tabpanel" class="tab-pane fade in active" id="Descripcion">
<div class="registeruser">
                        <div class="conect_fb">
                            <a class="btn wk-button-facebook" href="#" ng-click="fbLogin()"> <i
                                    class="fa fa-facebook"></i> Login with
                                Facebook</a>
                        </div>
                        <div class="signup_separator">
                            <span class="signup_eparator_text">or</span>
                            <hr>
                        </div>
                        <form accept-charset="UTF-8" class="w-authentication" id="new_user" action="/Register/"
                              method="post">

                            <fieldset>

                                <label class="wk-hidden" for="firstname">First name</label>
                                <input class="pure-input" id="firstname" name="firstname" placeholder="First name"
                                       required="required" type="text">


                                <label class="wk-hidden" for="lastname">Last name</label>
                                <input class="pure-input" id="lastname" name="lastname" placeholder="Last name"
                                       required="required" type="text">


                                <label class="wk-hidden" for="username">Email</label>
                                <input class="pure-input" id="username" name="username" placeholder="Email"
                                       required="required" type="email" value="">


                                <label class="wk-hidden" for="password">Password</label>
                                <input autocomplete="off" class="pure-input" id="password" name="password"
                                       placeholder="Password" required="required" type="password">

                                <label class="wk-hidden" for="location">Location</label>
                                <input class="pure-input" id="location" name="location" placeholder="Location"
                                       required="required" type="text">
                            </fieldset>


                            <div class="condicions">
                                <small>
                                    Al registrarme, acepto las <a href="/terms" data-popup="true">Condiciones del
                                    servicio</a>, la <a href="/terms/privacy_policy" data-popup="true">Política de
                                    Privacidad
                                    y de Cookies</a> y las <a href="/terms/host_guarantee" data-popup="true">Condiciones
                                    de
                                    la Garantía al anfitrión</a> de Welkomi.
                                </small>

                            </div>
                            <button type="submit" class="btn btn-wk btn-block btn-large">Regístrate</button>

                        </form>


                    </div>
    </div>
    <div role="tabpanel" class="tab-pane fade" id="Photos">
        <fieldset>

                                <label class="wk-hidden" for="firstname">First name</label>
                                <input class="pure-input" id="firstname" name="firstname" placeholder="First name"
                                       required="required" type="text">

                                <label class="wk-hidden" for="location">Location</label>
                                <input class="pure-input" id="location" name="location" placeholder="Location"
                                       required="required" type="text">
                            </fieldset>

    </div>
    <div role="tabpanel" class="tab-pane fade" id="Location">...</div>
    <div role="tabpanel" class="tab-pane fade" id="Price">...</div>
  </div>

</div>
                </div>
                <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 clearfix">

            </div>
        </div>
    </div>
</div>
{% endblock %}


{% block pagejs %}
<script src="/statics/js/publish.js"></script>
{% endblock %}
