
    <div class="modal-body">
        <div class="signup">
            <a class="visible-xs closebtn" href="javascript:void(0)" ng-click="close()"><i class="fa fa-times" aria-hidden="true"></i></a>

            <div class="fastlogin">
                <a class="btn btn-fb" ng-click="fbLoginFromModal()"><i class="fa fa-facebook fa-lg"></i>Login with
                    Facebook</a>

                <div class="signup_separator">
                    <span class="signup_eparator_text">or</span>
                    <hr>
                </div>

                <form name="loginForm" method="post" action="/autenticate/">
                    <input ng-model="user.email" class="pure-input" name="username" placeholder="Email"
                           required="required" type="email">

                    <input ng-model="user.password" class="pure-input" name="password" placeholder="Password"
                           required="required" type="password">

                    <button type="submit" class="btn btn-sesson btn-block btn-large">Iniciar sesión</button>
                </form>

                <hr>

                <div class="notregister clearfix">
                    <small class="pull-left">¿No tienes una cuenta?</small>
                    <button type="submit" class="pull-right btn btn-register btn-block btn-large">Registrar</button>
                </div>

            </div>
        </div>
    </div>